<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>詳細画面テスト</title>
        <meta name="description" content="詳細画面のテストです。">
        <!--<meta name="viewport" content="width=device-width,initial-scale=1.0">-->
        <!--<link rel="stylesheet" href="/static/css/detail.css">-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/detail.css') }}">
        <!--<script src="../static/js/details.js"></script>-->
    </head>

    <body>
        <header class="global-header">
            <a href="{{url_for('index')}}" title="ホームへ戻る" class="btn-pill">&laquo;</a>
            <h1>{{details.result.name}}</h1>
        </header>

        <div class="imgholder">
            <img class="food" src="{{photo}}" >
        </div>

        <p>
            営業時間
        </p>
        <p>
            {{details.result.opening_hours.weekday_text}}
        </p>
        <p>
            住所
        </p>
        <p>
            {{details.result.vicinity}}
        </p>
    </body>
</html>