<h1 class="event_top" style="color:#45494b;"><i class="fas fa-utensils"></i>
    <b>KOMAFOOD</b>
</h1>
<div class="site_box" style="background-image:linear-gradient(-210deg, #BC32A4 0%, #E03768 50%, #F67C33 100%); opacity:0.9;">
    <h2 class="intro_p" style="color:white;"><b>9/27(土)KOMAFOODをリリースしました。駒澤大学周辺にはおしゃれなカフェや駒澤大学生にはあまり知られていないお店がたくさんあります。
         KOMAFOODを通じて新しい食と空間の出会いを提供できるようなサイトを目指します。今後、カフェ以外のジャンルやレビュー順に表示できるなどの機能追加をしてまいります。</b>
    </h2>
</div>
<p style="color:#45494b; text-align: center;">*駒澤大学から半径1km以内のカフェ情報をGoogle M表示しています</p>
<div class="index_box">
    <p>qq</p>
    {% for result in results %}{% set A_list_loop = loop %}
        {% for photo in photos %}
            {% if loop.index==A_list_loop.index %}
                <a class='card_title' style="text-decoration: none; color : #000000;" href="{{result['result']['url']}}" target=”_blank”>
                <div class="post_box_index" style="color:#45494b;">
                    <div class="post_top">
                        <h1　class="index_title"><b>{{result['result']['name']}}</b></h1>
                    </div>
                    <img class="index_image_index" align='center' src="{{photo}}" alt="">
                    <p>住所:{{result['result']['vicinity']}}<br>
                    電話番号:{{result['result']['international_phone_number']}}<br>
                    評価:{{result['result']['rating']}}</p>
                </a>
                <p style='font-size:12px;'>WEBサイト<br><a href="{{result['result']['website']}}">{{result['result']['website']}}</a></p>
                </div>
            {% endif %}
        {% endfor %} 
    {% endfor %} 
</div>